# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
*.cmake
*.dep
*.d
makelist
CMakeCache.txt
*CMakeFiles
Makefile
source_downloads

# ignore files list
out
client/mysql
client/mysql_config_editor
client/mysql_plugin
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
client/async_example
cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.c
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.c
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/vi.h
cmd-line-utils/libedit/stAVFbKP
dbug/dbug-t
dbug/example1.r
dbug/example2.r
dbug/example3.r
dbug/factorial
dbug/factorial.r
dbug/main.r
dbug/output1.r
dbug/output2.r
dbug/output3.r
dbug/output4.r
dbug/output5.r
dbug/tests
dbug/user.ps
dbug/user.t
Docs/INFO_BIN
extra/comp_err
extra/innochecksum
extra/my_print_defaults
extra/mysql_waitpid
extra/perror
extra/replace
extra/resolve_stack_dump
extra/resolveip
include/sql_state.h
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqld_ername.h
include/mysqld_error.h
include/probes_mysql_dtrace.h
include/mysqld_ername.h.tmp
include/mysqld_error.h.tmp
include/sql_state.h.tmp
include/probes_mysql_nodtrace.h
install_manifest.txt
libmysql/libmysql.ver
libmysql/libmysql_exports_file.cc
libmysql/libmysqlclient.so.18
libmysql/libmysqlclient.so.18.1.0
libmysql/libmysqlclient_r.so.18
libmysql/libmysqlclient_r.so.18.1.0
libmysql/mysqlclient_depends.c
libmysql/libmysqlclient.so.18.0.0
libmysql/libmysqlclient_r.so.18.0.0
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/mtr
mysql-test/mysql-test-run
mysql-test/collections/default.release
mysql-test/collections/default.release.done
mysql-test/suite/parts/r/partition_t55.out
mysql-test/suite/storage_engine/se-innodb.out
mysys/queues
mysys/thr_lock
packaging/rpm-uln/mysql.5.5.32.spec
packaging/rpm-uln/mysql.5.6.13.spec
packaging/solaris/postinstall-solaris
regex/re
scripts/make_binary_distribution
scripts/msql2mysql
scripts/mysql_config
scripts/mysql_convert_table_format
scripts/mysql_find_rows
scripts/mysql_fix_extensions
scripts/mysql_install_db
scripts/mysql_secure_installation
scripts/mysql_setpermission
scripts/mysql_zap
scripts/mysqlaccess
scripts/mysqlbug
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/mysqlhotcopy
scripts/comp_sql
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/mytop
sql-bench/bench-count-distinct
sql-bench/bench-init.pl
sql-bench/compare-results
sql-bench/copy-db
sql-bench/crash-me
sql-bench/graph-compare-results
sql-bench/innotest1
sql-bench/innotest1a
sql-bench/innotest1b
sql-bench/innotest2
sql-bench/innotest2a
sql-bench/innotest2b
sql-bench/run-all-tests
sql-bench/server-cfg
sql-bench/test-ATIS
sql-bench/test-alter-table
sql-bench/test-big-tables
sql-bench/test-connect
sql-bench/test-create
sql-bench/test-insert
sql-bench/test-select
sql-bench/test-transactions
sql-bench/test-wisconsin
sql-bench/test-table-elimination
sql/gen_lex_hash
sql/lex_hash.h
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/share/bulgarian/
sql/share/czech/
sql/share/danish/
sql/share/dutch/
sql/share/english/
sql/share/estonian/
sql/share/french/
sql/share/german/
sql/share/greek/
sql/share/hungarian/
sql/share/italian/
sql/share/japanese/
sql/share/korean/
sql/share/norwegian-ny/
sql/share/norwegian/
sql/share/polish/
sql/share/portuguese/
sql/share/romanian/
sql/share/russian/
sql/share/serbian/
sql/share/slovak/
sql/share/spanish/
sql/share/swedish/
sql/share/ukrainian/
sql/sql_builtin.cc
sql/share/japanese-sjis/
storage/heap/hp_test1
storage/heap/hp_test2
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/perfschema/gen_pfs_lex_token
storage/perfschema/pfs_lex_token.h
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_user-oom-t
storage/ndb/src/external/WIN32.x86/sci/lib/scilib.lib
storage/ndb/src/external/WIN32.x86/sci/lib/scilib_md.lib
storage/ndb/src/external/WIN32.x86/sci/lib/scilib_mt.lib
storage/ndb/src/external/WIN32.x86/sci/lib/sisci_api.lib
storage/ndb/src/external/WIN32.x86/sci/lib/sisci_api_md.lib
storage/ndb/src/external/WIN32.x86/sci/lib/sisci_api_mt.lib
storage/maria/aria_chk
storage/maria/aria_dump_log
storage/maria/aria_ftdump
storage/maria/aria_pack
storage/maria/aria_read_log
storage/maria/ma_rt_test
storage/maria/ma_sp_test
storage/maria/ma_test1
storage/maria/ma_test2
storage/maria/ma_test3
storage/maria/unittest/ma_control_file-t
storage/maria/unittest/ma_pagecache_consist_1k-t
storage/maria/unittest/ma_pagecache_consist_1kHC-t
storage/maria/unittest/ma_pagecache_consist_1kRD-t
storage/maria/unittest/ma_pagecache_consist_1kWR-t
storage/maria/unittest/ma_pagecache_consist_64k-t
storage/maria/unittest/ma_pagecache_consist_64kHC-t
storage/maria/unittest/ma_pagecache_consist_64kRD-t
storage/maria/unittest/ma_pagecache_consist_64kWR-t
storage/maria/unittest/ma_pagecache_rwconsist2_1k-t
storage/maria/unittest/ma_pagecache_rwconsist_1k-t
storage/maria/unittest/ma_pagecache_single_1k-t
storage/maria/unittest/ma_pagecache_single_64k-t
storage/maria/unittest/ma_pagecache_single_8k-t
storage/maria/unittest/ma_test_loghandler-t
storage/maria/unittest/ma_test_loghandler_first_lsn-t
storage/maria/unittest/ma_test_loghandler_long-t
storage/maria/unittest/ma_test_loghandler_max_lsn-t
storage/maria/unittest/ma_test_loghandler_multigroup-t
storage/maria/unittest/ma_test_loghandler_multithread-t
storage/maria/unittest/ma_test_loghandler_noflush-t
storage/maria/unittest/ma_test_loghandler_nologs-t
storage/maria/unittest/ma_test_loghandler_pagecache-t
storage/maria/unittest/ma_test_loghandler_purge-t
storage/maria/unittest/ma_test_loghandler_readonly-t
storage/maria/unittest/trnman-t
storage/myisam/mi_test1
storage/myisam/mi_test2
storage/myisam/mi_test3
storage/myisam/rt_test
storage/myisam/sp_test
support-files/MySQL-shared-compat.spec
support-files/binary-configure
support-files/my-default.cnf
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysql.spec
support-files/mysqld_multi.server
support-files/plugins.files
support-files/config.huge.ini
support-files/config.medium.ini
support-files/config.small.ini
support-files/my-huge.cnf
support-files/my-innodb-heavy-4G.cnf
support-files/my-large.cnf
support-files/my-medium.cnf
support-files/my-small.cnf
support-files/ndb-config-2-node.ini
tests/bug25714
tests/mysql_client_test
tests/async_queries
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mytap/t/basic-t
unittest/mysys/base64-t
unittest/mysys/bitmap-t
unittest/mysys/explain_filename-t
unittest/mysys/lf-t
unittest/mysys/my_atomic-t
unittest/mysys/my_malloc-t
unittest/mysys/my_rdtsc-t
unittest/mysys/my_vsnprintf-t
unittest/strings/strings-t

